scraping/venv/
benchmarking/venv/
rag-pipeline/venv/
api/venv/
venv/

rag_pipeline/db
rag_pipeline/db_full
optimizations/qa/db
optimizations/qa/db_full
optimizations/hybrid_search/bm25_index
optimizations/hybrid_search/bm25_index_full
benchmarking/db